<div class="row">
    <div class="col">    
        <div class="group-card bg-info-subtle">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <span class="ms-1 text-nowrap" style="font-size: 13px;">
                    <div style="max-width: 400px;" class="text-nowrap text-truncate">
                        Договор #<span class="text-dark">{{ contract.contract_number|default_if_none:'' }}</span>
                        {% if contract.contract_date %} | {{ contract.contract_date|date:'d.m.Y'|default_if_none:'' }}{% endif %}
                        {% if contract.contract_type %} | {{ contract.contract_type|default_if_none:'' }}{% endif %}
                        {% if contract.contract_file %} | <a href="{{ contract.contract_file.url }}" target="_blank" title="{{ contract.contract_file_name }} (Открыть)"><i class="ti ti-paperclip fs-3 text-primary"></i></a>{% endif %}
                    </div>
                </span>
                <div class="d-flex gap-1 align-items-center fs-2">
                    {% if car.role.slug == 'supplier_lc' %}
                    <button 
                        class="btn btn-sm btn-outline btn-hover-shadow rounded-3 py-0 edit-contract-btn" 
                        data-contract-id="{{contract.id}}" 
                        data-bs-toggle="modal" 
                        data-bs-target="#editContractModal" 
                        title="Редактировать договор"
                    >
                        <i class="ti ti-pencil fs-4"></i>
                    </button>
                    <form class="fs-2" action="{% url 'kanban:forward_contract_view' contract.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary rounded-pill btn-sm py-0 open-confirm-modal" title="Готово">
                            <i class="ti ti-arrow-right px-1"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% for lot in contract.lots.all %}
                {% include "kanban/board/components/stages/lot_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>