<div class="card lot-card" role="button" data-lot-id="{{ lot.id }}" style="font-size: 12px; border-radius: 10px; margin-bottom: 6px;">
    <div class="card-body px-2 pt-2 pb-1">
        <div class="d-flex justify-content-between">
            <div style="width: 330px;" class="text-nowrap pe-2 text-truncate">
                <span>#{{ lot.lot_track_number }}
                {% if lot.protocol %} | <span class="text-muted">Заяв.#{{ lot.part_request.request_number }}</span>{% endif %}
                {% if lot.contract %} | <span class="text-muted">Прот.#{{ lot.part_request.request_number }}</span>{% endif %}
                </span>
            </div>
            <div class="col-auto"><span class="badge rounded-pill  bg-light-subtle text-muted">{{ lot.bought_for_str }}</span></div>
        </div>
        <div style="max-width: 480px;">
            {% if lot.approved_goods_works_services_names_other and lot.approved_goods_works_services_names_other != lot.goods_works_services_names_other  %}
                <div class="d-flex" title="{{ lot.goods_works_services_names_other|default_if_none:'' }}">
                    <div class="text-nowrap text-truncate me-1" style="max-width: 100%;">
                        <span class="fw-bold text-decoration-line-through">{{ lot.goods_works_services_names_other|default_if_none:"" }}</span>
                    </div>
                    <div class="text-nowrap">
                        <span class="text-decoration-line-through pe-1">
                            ({% if lot.approved_amount %}{{ lot.approved_amount }}{% else %}{{lot.amount|default_if_none:""}}{% endif %}
                            {% if lot.approved_unit %}{{ lot.approved_unit.short_name }}{% else %}{{ lot.unit.short_name|default_if_none:"" }}{% endif %})
                        </span>
                    </div>
                </div>
                <div class="d-flex" title="{{ lot.approved_goods_works_services_names_other }}">
                    <div class="text-nowrap text-truncate me-1" style="max-width: 100%;">
                        <span class="fw-bold">{{ lot.approved_goods_works_services_names_other }}</span>
                    </div>
                    <div class="text-nowrap fw-bold">
                        <span>
                            ({% if lot.approved_amount %}{{ lot.approved_amount }}{% else %}{{lot.amount|default_if_none:""}}{% endif %}
                            {% if lot.approved_unit %}{{ lot.approved_unit.short_name }}{% else %}{{ lot.unit.short_name|default_if_none:"" }}{% endif %})
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="d-flex" title="{% if lot.approved_goods_works_services_names_other %}{{ lot.approved_goods_works_services_names_other }}{% else %}{{ lot.goods_works_services_names_other|default_if_none:'' }}{% endif %}">
                    <div class="text-nowrap text-truncate me-1" style="max-width: 100%;">
                        <span class="fw-bold">{% if lot.approved_goods_works_services_names_other %}{{ lot.approved_goods_works_services_names_other }}{% else %}{{ lot.goods_works_services_names_other|default_if_none:"" }}{% endif %}</span>
                    </div>
                    <div class="text-nowrap fw-bold">
                        {% if lot.approved_amount and lot.approved_amount != lot.amount %}
                            <span class="text-decoration-line-through pe-1">({{lot.amount|default_if_none:""}}{{ lot.unit.short_name|default_if_none:"" }}</span>
                            <span>{{lot.approved_amount}}{% if lot.approved_unit %}{{ lot.approved_unit.short_name }}{% else %}{{ lot.unit.short_name|default_if_none:"" }}{% endif %})</span>
                        {% else %}
                            <span>
                                ({% if lot.approved_amount %}{{ lot.approved_amount }}{% else %}{{lot.amount|default_if_none:""}}{% endif %}
                                {% if lot.approved_unit %}{{ lot.approved_unit.short_name }}{% else %}{{ lot.unit.short_name|default_if_none:"" }}{% endif %})
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-footer ps-2 pe-1 py-1">
        <div class="d-flex justify-content-between">
            <span class="badge rounded-pill bg-indigo-subtle text-indigo fst-normal">
                {{ lot.init_service_center.name }} | 
                <span class="fst-italic text-dark text-muted">{{ lot.service_center_manager.first_name|slice:"0:1" }}. {{ lot.service_center_manager.last_name }}</span>
            </span>
            <div class="small fst-italic text-nowrap">
                {% if lot.status.slug == 'pr_lot_sc_draft' or lot.status.slug == 'pr_lot_ca_rejected' %}
                    {{ lot.service_center_manager.first_name|slice:"0:1" }}. {{ lot.service_center_manager.last_name }} -
                    {{ lot.created_at|date:'d.m.y' }}
                {% elif lot.status.slug == 'pr_lot_sc_checking' %}
                    {{ lot.service_center_manager.first_name|slice:"0:1" }}. {{ lot.service_center_manager.last_name }} -
                    {{ lot.date_init_submission|date:'d.m.y' }}
                {% elif lot.status.slug == 'pr_lot_sc_done' %}
                    {{ lot.sc_director_approved_by.first_name|slice:"0:1" }}. {{ lot.sc_director_approved_by.last_name }} -
                    {{ lot.sc_director_approved_at|date:'d.m.y' }}
                {% elif lot.status.slug == 'pr_lot_ca_working' or lot.status.slug == 'pr_lot_ca_done' %}
                    {{ lot.responsible_manager_ca.first_name|slice:"0:1" }}. {{ lot.responsible_manager_ca.last_name }} -
                    {{ lot.date_assign_responsible_manager_ca|date:'d.m.y' }}
                {% elif lot.status.slug == 'pr_lot_swt_working' or lot.status.slug == 'pr_lot_swt_done' %}
                    {{ lot.responsible_manager_swt.first_name|slice:"0:1" }}. {{ lot.responsible_manager_swt.last_name }} -
                    {{ lot.date_assign_responsible_manager_swt|date:'d.m.y' }}
                {% elif lot.status.slug == 'pr_lot_lc_working' or lot.status.slug == 'pr_lot_lc_done' %}
                    {{ lot.responsible_manager_lc.first_name|slice:"0:1" }}. {{ lot.responsible_manager_lc.last_name }} -
                    {{ lot.date_assign_responsible_manager_lc|date:'d.m.y' }}
                {% endif %}
            </div>
            <div class="text-nowrap">
                {% include "kanban/board/components/status.html" %}
                <a class="btn btn-sm btn-outline btn-hover-shadow rounded-3 px-1 py-0 details-page-link" href="{% url 'kanban:request_lot_detail_view' lot.id %}" title="Редактировать заявку"><i class="ti ti-pencil fs-4"></i></a>
            </div>
        </div>
    </div>
</div>