<div class="group-card bg-light">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <span class="ms-1" style="font-size: 13px;">
            <div style="width: 400px;" class="text-nowrap text-truncate">
                Заявка #<span class="text-dark">{{ request.request_number }}</span>
                <span class="">{% if request.request_date %} | {{ request.request_date|date:'d.m.Y' }}{% endif %}</span>{% if request.sc_approved_by %} | <span class="fs-2 fst-italic">{{ request.sc_approved_by.first_name|slice:"0:1" }}. {{ request.sc_approved_by.last_name }}{% endif %}</span>
            </div>
        </span>
        <div class="d-flex align-items-center">
            <span class="fs-3 me-2" title="Осталось в заявке {{request.count_lots_without_protocol}} позиции(я) из {{request.count_lots}}">{{request.count_lots_without_protocol}}/{{request.count_lots}}</span>
            {% if car.role.slug == 'buyer_swt' and request.is_all_lots_done_CA %}
                <form class="fs-2" action="{% url 'kanban:request_lot_status_forward_view' %}" method="POST">
                    {% csrf_token %}
                    {% for lot in request.lots.all %}
                        <input type="hidden" name="part_request_lots" value="{{ lot.id }}">
                    {% endfor %}
                    <button type="submit" class="btn btn-primary rounded-pill btn-sm py-0 open-take-all-confirm-modal" title="Взять в работу">
                        <i class="ti ti-check px-1"></i>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
    {% for lot in request.lots_without_protocol %}
        {% include "kanban/board/components/stages/lot_card.html" %}
    {% endfor %}
</div>