<div class="row">
    <div class="col">
        <div class="group-card bg-light">
            <div class="d-flex justify-content-between align-items-center mb-1">
                <span class="ms-1" style="font-size: 13px;">
                    Заявка #<span class="text-dark">{{ request.request_number }}</span>
                    <span class="">{% if request.request_date %} | {{ request.request_date|date:'d.m.Y' }}{% endif %}</span>{% if request.sc_approved_by %} | <span class="fs-2 fst-italic">{{ request.sc_approved_by.first_name|slice:"0:1" }}. {{ request.sc_approved_by.last_name }}{% endif %}</span>
                </span>
                <div class="d-flex gap-1 fs-2">
                    {% if car.role.slug == 'manager_ca' %}
                    <button 
                        class="btn btn-sm btn-outline btn-hover-shadow rounded-3 py-0 edit-request-btn" 
                        data-request-id="{{request.id}}" 
                        data-bs-toggle="modal" 
                        data-bs-target="#editRequestModal" 
                        title="Редактировать заявку"
                    >
                        <i class="ti ti-pencil fs-4"></i>
                    </button>
                    <form action="{% url 'kanban:forward_request_view' request.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary rounded-pill btn-sm py-0 open-confirm-modal" title="Отправить в отдел закупок">
                            <i class="ti ti-arrow-right px-1"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% for lot in request.lots.all %}
                {% include "kanban/board/components/stages/lot_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>