<div class="d-flex text-center mb-3 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#unassignedLotsCA" aria-expanded="false" aria-controls="unassignedLotsCA">
    <div class="text-center w-100">НЕСГРУППИРОВАННЫЕ ПОЗИЦИИ {% if part_request_lots_not_assigned_CA %}<span class="badge rounded-2 fs-2 ms-1 text-bg-light">{{part_request_lots_not_assigned_CA.count}}</span>{% endif %}</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<!-- unassigned lots - (stage 2) -->
<div class="row collapse show" id="unassignedLotsCA">
    <div class="col pb-3 mb-3 border-bottom">
        {% if car.role.slug == 'manager_ca' %}
            <div class="row justify-content-center">
                <div class="col-md-12 d-grid gap-2 mb-3">
                    <button class="btn btn-sm rounded-pill btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createRequestModal">
                        Сгруппировать в заявку
                    </button>
                </div>
            </div>
        {% endif %}
        {% for lot in part_request_lots_not_assigned_CA %}
            {% include "kanban/board/components/stages/lot_card.html" %}
        {% empty %}
            {% if car.role.slug == 'manager_ca' %}
                <div class="mb-4 fst-italic text-muted">
                    Нет заявок для группирования...
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- <div class="row bg-light my-3" style="height: 2px;">
    <div class="col"></div>
</div> -->
<!-- request groups - (stage 2) -->
<div class="d-flex mb-3 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#requestsCA" aria-expanded="false" aria-controls="requestsCA">
    <div class="text-center w-100">ГРУППЫ ЗАЯВОК</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<div id="requestsCA" class="collapse show">
    {% for request in part_requests %}
        {% if request.lots.first.status.stage.order == 2 %}
            {% include "kanban/board/components/stages/request_group.html" %}
        {% endif %}
    {% endfor %}
</div>


