<div class="d-flex text-center mb-3 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#unassignedLotsLC" aria-expanded="false" aria-controls="unassignedLotsLC">
    <div class="text-center w-100">НЕСГРУППИРОВАННЫЕ ПОЗИЦИИ {% if False %}<span class="badge rounded-2 fs-2 ms-1 text-bg-light">{{part_request_lots_not_assigned_CA.count}}</span>{% endif %}</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<!-- unassigned lots - (stage 4) -->
<div class="row collapse show" id="unassignedLotsLC">
    <div class="col mb-3 border-bottom">
        {% if car.role.slug == 'supplier_lc' %}
            <div class="row justify-content-center">
                <div class="col-md-12 d-grid gap-2 mb-3">
                    <button class="btn btn-sm rounded-pill btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createContractModal">
                        Сгруппировать в договор
                    </button>
                </div>
            </div>
        {% endif %}
        {% for protocol in protocols %} 
            {% if protocol.lots.first.status.stage.order >= 4 and  protocol.count_lots_without_contract %} <!--TODO: make this filter in view-->
                {% include "kanban/board/components/stages/protocol_group_unassigned_lc.html" %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- contract groups - (stage 2) -->
<div class="d-flex mb-2 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#contractsLC" aria-expanded="false" aria-controls="contractsLC">
    <div class="text-center w-100">ДОГОВОРЫ</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<div id="contractsLC" class="collapse show">
    {% for contract in contracts %}
        {% if contract.lots.first.status.stage.order == 4 %}
            {% include "kanban/board/components/stages/contract_group.html" %}
        {% endif %}
    {% endfor %}
</div>


