<div class="d-flex text-center mb-3 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#unassignedLotsSWT" aria-expanded="false" aria-controls="unassignedLotsSWT">
    <div class="text-center w-100">НЕСГРУППИРОВАННЫЕ ПОЗИЦИИ {% if False %}<span class="badge rounded-2 fs-2 ms-1 text-bg-light">{{part_request_lots_not_assigned_CA.count}}</span>{% endif %}</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<!-- unassigned lots - (stage 3) -->
<div class="row collapse show" id="unassignedLotsSWT">
    <div class="col mb-3 border-bottom">
        {% if car.role.slug == 'buyer_swt' %}
            <div class="row justify-content-center">
                <div class="col-md-12 d-grid gap-2 mb-3">
                    <button class="btn btn-sm rounded-pill btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createProtocolModal">
                        Сгруппировать в протокол
                    </button>
                </div>
            </div>
        {% endif %}
        {% for request in part_requests %} 
            {% if request.lots.first.status.stage.order >= 3 and request.count_lots_without_protocol %} <!--TODO: make this filter in view-->
                {% include "kanban/board/components/stages/request_group_unassigned_swt.html" %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- protocols - (stage 3) -->
<div class="d-flex mb-3 border border-1 p-1 rounded-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#protocolsSWT" aria-expanded="false" aria-controls="protocolsSWT">
    <div class="text-center w-100">ПРОТОКОЛЫ</div>
    <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
</div>
<div id="protocolsSWT" class="collapse show">
    {% for protocol in protocols %}
        {% if protocol.lots.first.status.stage.order == 3 %}
            {% include "kanban/board/components/stages/protocol_group.html" %}
        {% endif %}
    {% endfor %}
</div>


