<script>
    function fillRequestEditModal(request) {
        const $modal = $('#editRequestModal');
        const $requestEditTbody = $modal.find('#requestEditTbody'); 
        $modal.find('#request_number_input').val(request.request_number); 
        $modal.find('#request_date_input').val(request.request_date?.split('.').reverse().join('-')); 

        $modal.find('#title_request_number').text(request.request_number); 
        $modal.find('#title_request_date').text(request.request_date); 
        
        $requestEditTbody.empty()
        request.lots.forEach(function(lot) {
            $requestEditTbody.append(`
                <tr class="row-lot align-middle" role="button" style="border-radius: 10px; overflow: hidden;">
                    <td class="align-middle" style="width: 35px;">
                        <input type="checkbox" name="part_request_lots" value="${lot.id}" class="checkbox-lot" checked>
                    </td>
                    <td>${lot.lot_track_number || ""}</td>
                    <td title="${lot.approved_goods_works_services_names_other ? lot.approved_goods_works_services_names_other : (lot.goods_works_services_names_other || '')}">
                        ${lot.approved_goods_works_services_names_other ? lot.approved_goods_works_services_names_other : (lot.goods_works_services_names_other || '')}
                    </td>
                    <td>${lot.approved_part_number ? lot.approved_part_number : (lot.part_number || "")}</td>
                    <td title="${lot.approved_additional_characteristics ? lot.approved_additional_characteristics : (lot.additional_characteristics || '')}">
                        ${lot.approved_additional_characteristics ? lot.approved_additional_characteristics : (lot.additional_characteristics || '')}
                    </td>
                    <td>${lot.approved_amount ? lot.approved_amount : (lot.amount || "")}</td>
                    <td>${lot.approved_unit ? lot.approved_unit.name : (lot.unit?.name || "")}</td>
                    <td>${lot.responsible_manager_ca ? `${lot.responsible_manager_ca?.first_name || ""} ${lot.responsible_manager_ca?.last_name || ""}` : ""}</td>
                    <td>${lot.date_assign_responsible_manager_ca || ""}</td>
                </tr>
            `)
        })
    }

    $(document).ready(function() {
        $('.edit-request-btn').on('click', function () {
            const requestId = $(this).data('request-id'); 
            const ajaxURL = `/requests/ajax/${requestId}/`;
            $('#request_edit_form').attr('action', `/requests/${requestId}/edit/`)
            
            $.ajax({
                url: ajaxURL,
                method: 'GET',
                dataType: 'json',
                success: function (request) {
                    fillRequestEditModal(request)
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching lot details:', error);
                }
            });        
        });
    })
</script>