<script>
    function toggleOtherInput(select) {
        const otherInputContainer = document.getElementById('other_names_input_container');
        if (select.value === "other") {
            otherInputContainer.style.display = "block";
        } else {
            otherInputContainer.style.display = "none";
        }
    }

    function toggleBoughtForInput(select) {
        const targetContainers = document.querySelectorAll('[data-container]');

        targetContainers.forEach(container => {
            container.style.display = 'none';
        });

        const selectedOption = select.options[select.selectedIndex];
        const dataTarget = selectedOption.dataset.target;

        if (dataTarget) {
            const targetContainer = document.querySelector(`[data-container="${dataTarget}"]`);
            if (targetContainer) {
                targetContainer.style.display = 'block';
            }
        }
    }

    function togglePartNumberInput(select) {
        const modal = select.closest('.modal');   
        const targetContainers = modal.querySelectorAll('[data-container-pn]');
        modal.querySelector('.hiddenPartNumber').value = '';
        
        targetContainers.forEach(container => {
            container.style.display = 'none';
            container.querySelector('input').value = "";
        });

        const selectedOption = select.options[select.selectedIndex];
        const dataTarget = selectedOption.dataset.target;

        if (dataTarget) {
            const targetContainer = modal.querySelector(`[data-container-pn="${dataTarget}"]`);
            if (targetContainer) {
                targetContainer.style.display = 'block';
            }
        }
    }

    document.querySelectorAll('.other_part_number').forEach(input => {
        input.addEventListener('input', () => {
            const hiddenInput = input.closest('.modal').querySelector('.hiddenPartNumber');
            hiddenInput.value = input.value;
        });
    });

    $('#bought_for').on('change', function() {
        $('.for_service_center').val('').trigger('change');
        $('.for_locomotive').val('').trigger('change');
        $('.for_locomotive_type').val('').trigger('change');
    })

    $('.part_number_type').on('change', function() {
        const PN_type = $(this).val();
        const $modal = $(this).closest('.modal');
        const $other_part_number = $modal.find('.other_part_number');
        const $catalogPartNumber = $modal.find('.catalog_part_number');
        $other_part_number.prop('required', PN_type === '2').val('');
        $catalogPartNumber.prop('required', PN_type === '1').val('');
    })

    $('.catalog_part_number').on('keydown', function(e) {
        e.preventDefault();
    })

    document.addEventListener('DOMContentLoaded', function() {
        const container = document.getElementById('file-formset-container');
        const addButton = document.getElementById('add-file-form');
        const totalFormsInput = document.querySelector('[name="form-TOTAL_FORMS"]');

        addButton.addEventListener('click', function() {
            const formCount = container.getElementsByClassName('file-form').length;
            const template = container.getElementsByClassName('file-form')[0].cloneNode(true);
            template.innerHTML = template.innerHTML.replaceAll(
                /form-0/g, 
                `form-${formCount}`
            );
            template.querySelectorAll('input[type="text"], input[type="file"]').forEach(input => {
                input.value = '';
            });
            
            container.appendChild(template);
            totalFormsInput.value = formCount + 1;
        });
        
        container.addEventListener('click', function(e) {
            if (e.target.classList.contains('remove-file-form')) {
                e.target.closest('.file-form').remove();
                totalFormsInput.value = container.getElementsByClassName('file-form').length;
            }
        });

        const today = new Date().toISOString().split("T")[0];
        $("#required_delivery_date").attr("min", today);

        $("form").on("submit", function() {
            $(this).find("[type=submit]").prop("disabled", true).text('Загрузка...');
            let formId = $(this).attr("id"); 
            if (formId) {
                $("[form='" + formId + "']").prop("disabled", true).text('Загрузка...');
            }
        });

        // START  checkboxes
        $(document).on('click', '.row-lot', function (event) {
            if ($(event.target).is(':checkbox')) return;
            const checkbox = $(this).find('.checkbox-lot');
            checkbox.prop('checked', !checkbox.prop('checked'));

            const table = $(this).closest('table');
            table.find(".checkAllLots").prop(
                "checked",
                table.find(".checkbox-lot").length === table.find(".checkbox-lot:checked").length
            );
        });

        $(".checkAllLots").on("change", function() {
            $(this).closest('table').find(".checkbox-lot").prop("checked", $(this).prop("checked"));
        });
    
        $(".checkbox-lot").on("change", function() {
            const table = $(this).closest('table');
            table.find(".checkAllLots").prop(
                "checked",
                table.find(".checkbox-lot").length === table.find(".checkbox-lot:checked").length
            );
        });

        /*
        $("#checkAllLotsSWT").on("change", function() {
            $(".checkbox-lot-swt").prop("checked", $(this).prop("checked"));
        });
    
        $(".checkbox-lot-swt").on("change", function() {
            $("#checkAllLotsSWT").prop(
                "checked",
                $(".checkbox-lot-swt").length === $(".checkbox-lot-swt:checked").length
            );
        });
        */

        // END checkboxes
        
        // START take all to work confirmation

        let currentForm = null; 

        $(".open-take-all-confirm-modal").on("click", function(e) {
            e.preventDefault(); 
            currentForm = $(this).closest("form"); 
            $("#takeAllLotsToWorkConfirmModal").modal('show'); 
        });
    
        $("#takeAllLotsToWorkConfirmBtn").on("click", function() {
            if (currentForm) {
                currentForm.submit(); 
            }
            $("#takeAllLotsToWorkConfirmModal").modal('hide'); 
        });
    
        $("#takeAllLotsToWorkCancelBtn").on("click", function() {
            $("#takeAllLotsToWorkConfirmModal").modal('hide'); 
        });

        $(".open-confirm-modal").on("click", function(e) {
            e.preventDefault(); 
            currentForm = $(this).closest("form"); 
            $("#groupStatusForwardConfirmModal").modal('show');
        });
    
        $("#groupStatusForwardConfirmBtn").on("click", function() {
            if (currentForm) {
                currentForm.submit(); 
            }
            $("#groupStatusForwardConfirmModal").modal('hide'); 
        });
    
        $("#groupStatusForwardCancelBtn").on("click", function() {
            $("#groupStatusForwardConfirmModal").modal('hide'); 
        });

        // END take all to work confirmation

        $('.details-page-link').on('click', function (event) {
            event.stopPropagation();
        });       
       
        $('.edit-protocol-btn').on('click', function () {
            const protocolId = $(this).data('protocol-id'); 
            $('#protocol_edit_form').attr('action', `/protocols/${protocolId}/edit/`)

            const purchase_method = $(this).data('purchase-method'); 
            const protocol_number = $(this).data('protocol-number'); 
            const protocol_date = $(this).data('protocol-date'); 
            const date_tender_start = $(this).data('date-tender-start'); 
            const date_tender_end = $(this).data('date-tender-end'); 
            const protocol_file_url = $(this).data('protocol-file-url'); 
            const protocol_file_name = $(this).data('protocol-file-name'); 

            $('#purchase_method_edit').val(purchase_method).trigger('change')
            $('#protocol_number_edit').val(protocol_number)
            $('#protocol_date_edit').val(protocol_date)
            $('#date_tender_start_edit').val(date_tender_start)
            $('#date_tender_end_edit').val(date_tender_end)
            if (protocol_file_url) {
                $('#protocol_file_name_edit')
                    .empty()
                    .append(`На данный момент: <a href="${ protocol_file_url }" target="_blank">${ protocol_file_name } (Открыть)</a>`)
            }
        });

        $("#lotCardSearch").on("input", function () {
            let searchText = $(this).val().trim().toLowerCase();
    
            $(".lot-card").each(function () {
                let cardText = $(this).text().toLowerCase(); // Get all text inside the card
    
                $(this).toggle(cardText.includes(searchText)); // Show/hide the card
            });
        });

        $('#bought_for, #for_locomotive, #for_locomotive_type, #part_number_type, #for_service_center, #supplier_country, #purchase_method, #purchase_method_edit, #unit, #contract_type, #contract_type_edit').select2();
    })
</script>