<script>
    $('.lot-card').on('click', function () {
        const lotId = $(this).data('lot-id'); 
        const url = `/request_lots/ajax/${lotId}/`;
        
        $('#lotDetailsModal').modal('show');

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function (lot) {
                fillLotDetailsModal(lot);
            },
            error: function (xhr, status, error) {
                const $modal = $('#lotDetailsModal');
                $modal.find($('.modal-body')).empty().append(
                    `<div class="alert alert-danger text-danger" role="alert">
                       Ошибка ${status} | ${error}
                    </div>`
                )
                console.error('Error fetching lot details:', error);
            }
        });
    });

    function getStatusBadge(lot) {
        let badgeClass = '';
        if (lot.status.slug === 'pr_lot_ca_rejected') {
            badgeClass = 'badge rounded-pill bg-danger-subtle text-danger';
        } else if (lot.status.slug === 'pr_lot_sc_draft') {
            if (lot.is_dir_ret_to_init) {
                badgeClass = 'badge rounded-pill text-bg-light text-danger';
            } else {
                badgeClass = 'badge rounded-pill text-bg-light';
            }
        } else if (lot.status.slug === 'pr_lot_done') {
            badgeClass = 'badge rounded-pill bg-success-subtle text-success';
        } else if (lot.status.slug.includes('done')) {
            badgeClass = 'badge rounded-pill bg-warning-subtle text-warning';
        } else if (lot.status.slug.includes('working') || lot.status.slug.includes('checking')) {
            badgeClass = 'badge rounded-pill bg-primary-subtle text-primary';
        }
        return `<span class="${badgeClass}">${lot.status.name} </span><span>${lot.is_dir_ret_to_init ? ' (Возвращен директором)' : ''}</span>`;
    }

    function fillLotDetailsModal(lot) {
        const $modal = $('#lotDetailsModal');
        $modal.find('.modal-title').text(lot.goods_works_services_names_other);

        $modal.find('#detailsPageLinkInModal').attr('href', `/request_lots/${lot.id}/`);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const userRole = "{{ car.role.slug }}"

        const returnToInitiatorFormBtn = 
            `<button type="button" class="btn btn-outline-danger rounded-3 btn-sm my-2" data-bs-toggle="modal" data-bs-target="#lotReturnSCConfirmModal">
                <i class="ti ti-arrow-back-up pe-1"></i>
                Вернуть инициатору
            </button>`

        const sendToDirectorFormBtn = `<button type="submit" form="modalStatusForwardForm" class="btn btn-primary rounded-3 btn-sm my-2"><i class="ti ti-brand-telegram pe-1"></i>Отправить директору</button>`;

        const sendToCAFormBtn = `<button type="submit" form="modalStatusForwardForm" class="btn btn-success rounded-3 btn-sm my-2 ms-2"><i class="ti ti-check pe-1"></i>Подтвердить и отправить в ЦА</button>`;

        const takeToWorkFormBtn = `<button type="submit" form="modalStatusForwardForm" class="btn btn-primary rounded-3 btn-sm my-2">Взять в работу</button>`

        const statusBadge = getStatusBadge(lot);
        $modal.find('#statusBadgeContainer').empty().append(statusBadge);
        $modal.find('.lotIdHiddenInput').val(lot.id);

        const $detailsTbody = $modal.find('#lotDetailsTBody'); 
        const $historyTbody = $modal.find('#lotHistoryTBody'); 

        $detailsTbody.empty()
        $detailsTbody.append(`
            <tr><td colspan="2" class="bg-danger-subtle text-center"><strong>Инициализация в СЦ</strong></td></tr>
            <tr><td>Номер отслеживания</td><td>${lot.lot_track_number || ''}</td></tr>
            <tr><td>Покупается для</td><td>${lot.bought_for?.name || ''} ${lot.for_locomotive?.name || lot.for_service_center?.name || ''}</td></tr>
            <tr><td>Наименование закуп. товаров</td><td>${lot.goods_works_services_names_other || ''}</td></tr>
            <tr><td>Чертеж. номер</td><td>${lot.part_number || ''}</td></tr>
            <tr><td>Страна происхождения</td><td>${lot.supplier_country?.name || ''}</td></tr>
            <tr><td>Доп. характеристики</td><td>${lot.additional_characteristics || ''}</td></tr>
            <tr><td>Дата необходимой поставки</td><td>${lot.required_delivery_date || ''}</td></tr>
            <tr><td>Кол-во</td><td>${lot.amount || ''}</td></tr>
            <tr><td>Ед. измерения</td><td>${lot.unit?.name || ''}</td></tr>
            <tr><td>Файлы</td><td>
                    <ul>
                        ${lot.files ? lot.files.map(file => `
                            <li class="fst-italic"><i class="ti ti-paperclip fs-4 text-primary"></i><a href="${file.file}" target="_blank">${file.document_name} (Открыть)</a></li>
                        `).join('') : ''}
                    </ul>
            </td></tr>
            <tr><td>СЦ инициатора</td><td>${lot.init_service_center.name || ''}</td></tr>
            <tr><td>Ответственный менеджер</td><td>${lot.service_center_manager ? `${lot.service_center_manager.first_name} ${lot.service_center_manager.last_name}` : ''}</td></tr>
            <tr><td>Дата отпр. на согласование директору</td><td>${lot.date_init_submission || ''}</td></tr>
            <tr><td>Дата отпр. в ЦА</td><td>${lot.sc_director_approved_at || ''}</td></tr>
            <tr><td colspan="2" class="text-end">
                ${(lot.status.slug === 'pr_lot_sc_draft' && (userRole == 'initiator')) ? sendToDirectorFormBtn : ''}
                ${(lot.status.slug === 'pr_lot_sc_checking' && (userRole == 'director_sc')) ? `${returnToInitiatorFormBtn}  ${sendToCAFormBtn}` : ''}
            </td></tr>
        `);

        // Block 2: Approval
        $detailsTbody.append(`
            <tr><td colspan="2" class="bg-warning-subtle text-center"><strong>Менеджер ЦА</strong></td></tr>
            <tr class="fst-italic"><th>Номер заявки (1C)</th><td>${ lot.part_request?.request_number || ''}</td></tr>
            <tr class="fst-italic"><th>Дата заявки (1C)</th><td>${ lot.part_request?.request_date || ''}</td></tr>
            <tr><td>Согл. чаименование закуп. товаров</td><td>${lot.approved_goods_works_services_names_other || ''}</td></tr>
            <tr><td>Согл. чертеж. номер</td><td>${lot.approved_part_number || ''}</td></tr>
            <tr><td>Согл. страна происхождения</td><td>${lot.approved_supplier_country?.name || ''}</td></tr>
            <tr><td>Согл. доп. характеристики</td><td>${lot.approved_additional_characteristics || ''}</td></tr>
            <tr><td>Согл. дата необходимой поставки</td><td>${ lot.approved_required_delivery_date || ''}</td></tr>
            <tr><td>Согл. кол-во</td><td>${lot.approved_amount || ''}</td></tr>
            <tr><td>Согл. ед. измерения</td><td>${lot.approved_unit?.name || ''}</td></tr>
            <tr><td>Поставка по запросу</td><td>${ lot.approved_delivery_on_request ? `<i class="ti ti-check fs-5 pe-1"></i>` : ''}</td></tr>
            <tr><td>Ответственный менеджер</td><td>${lot.responsible_manager_ca ? `${lot.responsible_manager_ca.first_name} ${lot.responsible_manager_ca.last_name}` : ''}</td></tr>
            <tr><td>Дата принятия в работу</td><td>${lot.date_assign_responsible_manager_ca ? lot.date_assign_responsible_manager_ca : ''}</td></tr>
            ${ lot.rejected_at && `
                <tr><td class="text-danger">Отклонено</td><td>${ lot.rejected_by ? `${lot.rejected_by.first_name} ${lot.rejected_by.last_name}` : ''}</td></tr>
                <tr><td class="text-danger">Дата отклонения</td><td>${ lot.rejected_at || '' }</td></tr>
                <tr><td class="text-danger">Причина отклонения</td><td>${ lot.rejection_reason || '' }</td></tr>
            `}
            <tr><td colspan="2" class="text-end">${(lot.status.slug === 'pr_lot_sc_done' && userRole == 'manager_ca') ? takeToWorkFormBtn : ''}</td></tr>
        `);

        // Block 3: Purchase
        $detailsTbody.append(`
            <tr><td colspan="2" class="bg-info-subtle text-center"><strong>Отдел закупок SWT</strong></td></tr>
            <tr class="fst-italic"><th>Вид закупа</th><td>${ lot.protocol?.purchase_method.name || '' }</td></tr>
            <tr class="fst-italic"><th>Номер протокола</th><td>${ lot.protocol?.protocol_number || '' }</td></tr>
            <tr class="fst-italic"><th>Дата протокола</th><td>${ lot.protocol?.protocol_date || '' }</td></tr>
            <tr class="fst-italic"><th>Дата начала тендера</th><td>${ lot.protocol?.date_tender_start || '' }</td></tr>
            <tr class="fst-italic"><th>Дата окончания тендера</th><td>${ lot.protocol?.date_tender_end || '' }</td></tr>
            <tr class="fst-italic"><th>Файл протокола</th><td>
                ${ lot.protocol?.protocol_file ? `<a href="${ lot.protocol?.protocol_file }" target="_blank"><i class="ti ti-paperclip fs-4 text-primary"></i>${ lot.protocol.protocol_file_name } (Открыть)</a>` : ''} 
            </td></tr>
            <tr><td>№ ГПЗ</td><td>${lot.gpz_number || ''}</td></tr>
            <tr><td>Ответственный менеджер</td><td>${lot.responsible_manager_swt ? `${lot.responsible_manager_swt.first_name} ${lot.responsible_manager_swt.last_name}` : ''}</td></tr>
            <tr><td>Дата принятия в работу</td><td>${lot.date_assign_responsible_manager_swt ? lot.date_assign_responsible_manager_swt : ''}</td></tr>
            <tr><td colspan="2" class="text-end">${(lot.status.slug === 'pr_lot_ca_done' && userRole == 'buyer_swt') ? takeToWorkFormBtn : ''}</td></tr>
        `);

        // Block 4: Supply
        $detailsTbody.append(`
            <tr><td colspan="2" class="bg-success-subtle text-center"><strong>Отдел снабжения LC</strong></td></tr>
            <tr class="fst-italic"><th>Номер договора</th><td>${ lot.contract?.contract_number || ''}</td></tr>
            <tr class="fst-italic"><th>Дата договора</th><td>${ lot.contract?.contract_date || ''}</td></tr>
            <tr class="fst-italic"><th>Тип договора</th><td>${ lot.contract?.contract_type || ''}</td></tr>
            <tr class="fst-italic"><th>Файл договора</th><td>
                ${ lot.contract?.contract_file ? `<a href="${ lot.contract?.contract_file }" target="_blank"><i class="ti ti-paperclip fs-4 text-primary"></i>${ lot.contract.contract_file_name } (Открыть)</a>` : ''} 
            </td></tr>
            <tr><td>Поставщик</td><td>${ lot.supplier_other ? lot.supplier_other : (lot.supplier?.name || '')}</td></tr>
            <tr><td>План оплаты</td><td>${ lot.payment_plan_other ? lot.payment_plan_other : (lot.payment_plan?.name || '')}</td></tr>
            <tr><td>Ожидаемая дата поставки</td><td>${lot.date_expected_delivery || ''}</td></tr>
            <tr><td>Фактическая дата поставки</td><td>${lot.date_fact_delivery || ''}</td></tr>
            <tr><td>Ответственный менеджер</td><td>${lot.responsible_manager_lc ? `${lot.responsible_manager_lc.first_name} ${lot.responsible_manager_lc.last_name}` : ''}</td></tr>
            <tr><td>Дата принятия в работу</td><td>${lot.date_assign_responsible_manager_lc ? lot.date_assign_responsible_manager_lc.slice(0,10) : ''}</td></tr>
            <tr><td colspan="2" class="text-end">${(lot.status.slug === 'pr_lot_swt_done' && userRole == 'supplier_lc') ? takeToWorkFormBtn : ''}</td></tr>
        `);

        $historyTbody.empty()
        lot.history.forEach(function(history) {
            $historyTbody.append(`
                <tr class="align-middle">
                    <td>${history.changed_at || ''}</td>
                    <td>${history.changed_by ? `${history.changed_by.first_name} ${history.changed_by.last_name}` : ''}</td>
                    <td>${history.field_name || ''}</td>
                    <td class="text-center" style="min-width:90px">${history.old_value ?? ''}</td>
                    <td class="text-center"><i class="ti ti-arrow-right fs-3"></i></td>
                    <td class="text-center" style="min-width:90px">
                        ${history.new_value && history.new_value.slice(0, 3) === '202' ? history.new_value.slice(0, 16) : (history.new_value || '')}
                    </td>
                    <td>${history.reason || ''}</td>
                </tr>
            `);
        })
    }
    
</script>