<span 
    class="badge rounded-pill 
    {% if lot.status.slug == 'pr_lot_ca_rejected' %}
        bg-danger-subtle text-danger 
    {% elif lot.status.slug == 'pr_lot_sc_draft' %}
        {% if lot.is_dir_ret_to_init %}
            text-danger
        {% endif %}
        text-bg-light
    {% elif lot.status.slug == 'pr_lot_done' %}
        bg-success-subtle text-success
    {% elif 'done' in lot.status.slug %}
        bg-warning-subtle text-warning
    {% elif 'working' in lot.status.slug or 'checking' in lot.status.slug %}
        bg-primary-subtle text-primary
    {% else %}
        bg-warning-subtle text-warning
    {% endif %}
    "
    {% if lot.is_dir_ret_to_init %}
        title="Возвращен диретором на исправление"
    {% endif %}
>
    {{ lot.status }}
</span>