<style>
    .card {
        margin-bottom: 0.75rem;
    }

    .card .card-body {
        padding: 0.75rem;
    }

    .card .card-footer {
        padding: 0.75rem;
    }

    .group-card {
        border-radius: 12px;
        padding: 8px 6px 1px;
        margin-bottom: 1rem;
    }

    .body-wrapper .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-fullscreen {
        max-height: calc(100%);   
    }

    .custom-modal-content {
        margin: 3rem;
        max-width: calc(100% - 6rem);
        max-height: calc(100% - 6rem);
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    
    .extra-large-modal {
        max-width: 1400px;
    }

    .request-table {
        table-layout: fixed; /* Ensures fixed column width */
        width: 100%;
    }

    .request-table th:not(:first-child),
    .request-table td:not(:first-child) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .request-table th:is(:nth-child(6), :nth-child(7)),
    .request-table td:is(:nth-child(6), :nth-child(7)) {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>