<div class="modal fade" id="lotReturnSCConfirmModal" tabindex="-1" aria-labelledby="lotReturnSCConfirmModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lotReturnSCConfirmModal">Вернуть заявку</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#lotDetailsModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="ti ti-alert-circle text-danger fs-6"></i>
                        <span>Вы уверены что хотите вернуть заявку инициатору?</span>
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-2 my-3">
                    <button type="button" class="btn btn-sm rounded-pill btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#lotDetailsModal">Отмена</button>
                    <button type="submit" form="modalStatusBackwardForm" class="btn btn-sm rounded-pill btn-danger">Вернуть</button>
                </div>
            </div>
        </div>
    </div>
</div>