<div class="modal fade" id="editContractModal" tabindex="-1" aria-labelledby="editContractModal" aria-hidden="true">
    <div class="modal-dialog modal-xl extra-large-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editContractModal">Редактировать список договора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="p-2">
                        <table class="table table-row-bordered table-hover request-table mb-0" >
                            <thead>
                                <tr class="">
                                    <th style="width: 35px;"></th>
                                    <th>Номер отслеживания</th>
                                    <th>Наименование</th>
                                    <th>Чертеж. номер</th>
                                    <th>Доп. характеристики</th>
                                    <th>Кол-во</th>
                                    <th>Ед. измерения</th>
                                    <th>Отв. менеджер</th>
                                    <th>Дата принятия в работу</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <form id="contract_edit_form" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <div class="d-flex border border-1 p-2 bg-light-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#unassignedLotsInContractCreateModal" aria-expanded="false" aria-controls="unassignedLotsInContractCreateModal" style="border-top-left-radius: 12px; border-top-right-radius: 12px;">
                            <div class="ms-3 w-100">НЕСГРУППИРОВАННЫЕ ПОЗИЦИИ</div>
                            <span><i class="ti ti-chevron-down fs-4 pe-2"></i></span>
                        </div>
                        <div class="border border-1 border-top-0 mb-3" style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;">
                            <div class="row collapse show" id="unassignedLotsInContractCreateModal">
                                <div class="table-responsive">
                                    <div class="p-2">
                                        <table class="table table-row-bordered table-hover request-table mb-0" >
                                            <thead>
                                                <tr class="">
                                                    <th class="py-1" style="width: 35px;"><input type="checkbox" class="checkAllLots" id="checkAllLotsContractCreate"></th>
                                                    <th class="py-1"><label for="checkAllLotsContractCreate">Все</label></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                    <th class="py-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lot in part_request_lots %}
                                                    {% if lot.status.slug == 'pr_lot_lc_working' and lot.responsible_manager_lc == request.user and not lot.contract %}
                                                        <tr class="row-lot" role="button">
                                                            <td class="align-middle">
                                                                <input type="checkbox" name="part_request_lots" value="{{lot.id}}" class="checkbox-lot">
                                                            </td>
                                                            <td>{{ lot.lot_track_number|default_if_none:"" }}</td>
                                                            <td title="{% if lot.approved_goods_works_services_names_other %}{{ lot.approved_goods_works_services_names_other}}{% else %}{{ lot.name|default_if_none:'' }}{% endif %}">
                                                                {% if lot.approved_goods_works_services_names_other %}{{ lot.approved_goods_works_services_names_other}}{% else %}{{ lot.name|default_if_none:"" }}{% endif %}
                                                            </td>
                                                            <td>{% if lot.approved_part_number %}{{ lot.approved_part_number}}{% else %}{{ lot.part_number|default_if_none:"" }}{% endif %}</td>
                                                            <td title="{% if lot.approved_additional_characteristics %}{{ lot.approved_additional_characteristics}}{% else %}{{ lot.additional_characteristics|default_if_none:'' }}{% endif %}">
                                                                {% if lot.approved_additional_characteristics %}{{ lot.approved_additional_characteristics}}{% else %}{{ lot.additional_characteristics|default_if_none:"" }}{% endif %}
                                                            </td>
                                                            <td>{% if lot.approved_amount %}{{ lot.approved_amount}}{% else %}{{ lot.amount|default_if_none:"" }}{% endif %}</td>
                                                            <td>{% if lot.approved_unit %}{{ lot.approved_unit}}{% else %}{{ lot.unit|default_if_none:"" }}{% endif %}</td>
                                                            <td>{% if lot.responsible_manager_lc %}{{ lot.responsible_manager_lc.first_name}} {{ lot.responsible_manager_lc.last_name}}{% endif %}</td>
                                                            <td>{{ lot.date_assign_responsible_manager_lc|date:"d.m.Y H:i"|default_if_none:""}}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="group-card px-2 bg-info-subtle">
                            <div class="d-flex align-items-center justify-content-start gap-2 mb-2">
                                <span class="ms-1">Договор # </span>
                                <span>
                                    <input type="text" class="form-control form-control-sm bg-white" style="width: 180px;" id="contract_number_edit" name="contract_number" placeholder="Введите номер договора ...">
                                </span>
                                <span>|</span>
                                <span>Дата договора</span>
                                <span>
                                    <input type="date" class="form-control form-control-sm bg-white" id="contract_date_edit" name="contract_date">
                                </span>
                                <span>|</span>
                                <span>Тип договора</span>
                                <span style="width: 140px">
                                    <select
                                        id="contract_type_edit"
                                        name="contract_type"
                                        class="form-control form-control-sm"
                                        data-dropdown-parent="#editContractModal"
                                    >
                                        <option value=""></option>
                                        {% for item in contract_type_choices %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span>|</span>
                                <span>Файл договора</span>
                                <span>
                                    <span class="fst-italic fs-2" id="contract_file_name_edit"></span>
                                    <input type="file" class="form-control form-control-sm bg-white" id="contract_file_edit" name="contract_file">
                                </span>
                            </div>
                            <div>
                                <table class="table table-row-bordered table-hover request-table mb-2" style="border-radius: 12px; overflow: hidden;">
                                    <tbody id="contractEditTbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="d-flex justify-content-center">
                        <div class="mb-2">
                            <label for="contract_file_edit" class="form-label mb-0">Договор (файл):</label>
                            <div class="mb-2 ms-3 fst-italic" id="contract_file_name_edit"></div>
                            <input type="file" class="form-control form-control-sm" id="contract_file_edit" name="contract_file">
                        </div>
                    </div> {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="submit" form="contract_edit_form" class="btn btn-sm rounded-pill btn-primary">Обновить договор</button>
                </div>
            </div>
        </div>
    </div>
</div>