<div class="modal fade parent-modal" id="requestCreateModal" aria-labelledby="requestCreateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="request_create_form" method="POST" action="{% url 'kanban:create_request_lot_view' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="requestCreateModal">Создание заявки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <label for="" class="form-label">Покупается для <span class="text-danger">*</span></label>
                    <div>
                        <select
                            id="bought_for"
                            name="bought_for"
                            class="form-select form-select-sm select2"
                            required
                            onchange="toggleBoughtForInput(this)"
                            data-dropdown-parent="#requestCreateModal"
                        >
                            <option value=""></option>
                            {% for item in bought_for_choices %}
                                <option value="{{ item.id }}" data-target="{{ item.slug }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-2 border-start border-start-1 ps-3" data-container="service_center" id="for_service_center_input_container" style="display: none;">
                    <div class="my-3">
                        <select
                            id="for_service_center"
                            name="for_service_center"
                            class="form-select form-select-sm"
                            data-dropdown-parent="#requestCreateModal"
                            data-placeholder="Выберите сервисный центр..."
                        >
                            <option value=""></option>
                            {% for item in service_center_choices %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-2 border-start border-start-1 ps-3" data-container="locomotive" id="for_locomotive_input_container" style="display: none;">
                    <div class="my-3">
                        <select
                            id="for_locomotive"
                            name="for_locomotive"
                            class="form-select form-select-sm select2 for_locomotive"
                            data-dropdown-parent="#requestCreateModal"
                            data-placeholder="Выберите локомотив..."
                        >
                            <option value=""></option>
                            {% for item in locomotive_choices %}
                                <option value="{{ item.id }}">{{ item.name }} {{ item.locomotive_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-2 border-start border-start-1 ps-3" data-container="minimum_balance" id="for_minimum_balance_input_container" style="display: none;">
                    <label for="" class="form-label fs-2">Выберите тип локомотива (опционально)</label>
                    <div class="mb-3">
                        <select
                            id="for_locomotive_type"
                            name="for_locomotive_type"
                            class="form-select form-select-sm select2 for_locomotive_type"
                            data-dropdown-parent="#requestCreateModal"
                            {% comment %} data-placeholder="Выберите тип локомотива (опционально)..." {% endcomment %}
                        >
                            <option value="">-- выбрать --</option>
                            {% for item in locomotive_type_choices %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">Чертежный номер <span class="text-danger">*</span></label>
                    <div>
                        <select
                            id="part_number_type"
                            name="part_number_type"
                            class="form-select form-select-sm part_number_type"
                            required
                            onchange="togglePartNumberInput(this)"
                            data-dropdown-parent="#requestCreateModal"
                        >
                            <option value=""></option>
                            {% for item in part_number_type_choices %}
                                <option value="{{ item.id }}" data-target="{{ item.slug }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="part_number" class="hiddenPartNumber">
                <div class="mb-2 border-start border-start-1 ps-3" data-container-pn="catalog_part_number" id="" style="display: none;">
                    <div class="input-group my-3" >
                        <input
                            type="text"
                            class="form-control form-control-sm catalog_part_number"
                            required
                            placeholder="Выберите чертежный номер..."
                            style="pointer-events: none;"
                        >
                        <div class="input-group-append openFullPageModal" data-bs-toggle="modal" data-bs-target="#fullPageModal">
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm rounded-start-0"
                            >
                                Выбрать
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-2 border-start border-start-1 ps-3" data-container-pn="other_part_number" id="" style="display: none;">
                    <div class="d-flex gap-2 align-items-center my-3">
                        <input
                            type="text"
                            id="other_part_number"
                            class="form-control form-control-sm other_part_number"
                            placeholder="Введите вручную..."

                        >
                    </div>
                </div>
                <div class="mb-2">
                    <label for="goods_works_services_names_other" class="form-label">Наименование закупаемых товаров <span class="text-danger">*</span></label>
                    <input
                        type="text"
                        class="form-control form-control-sm good_service_name"
                        name="goods_works_services_names_other"
                        id="goods_works_services_names_other"
                        required
                    >
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">Страна происхождения</label>
                    <div>
                        <select
                            id="supplier_country"
                            name="supplier_country"
                            class="form-select form-select-sm"
                            data-dropdown-parent="#requestCreateModal"
                        >
                            <option value=""></option>
                            {% for item in supplier_country_choices %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="additional_characteristics" class="form-label">Дополнительные характеристики <span class="text-danger">*</span></label>
                    <textarea
                        name="additional_characteristics"
                        id="additional_characteristics"
                        class="form-control"
                        rows="2"
                        required
                    ></textarea>
                </div>
                <div class="mb-2">
                    <label for="required_delivery_date" class="form-label">Дата необходимой поставки <span class="text-danger">*</span></label>
                    <input 
                        type="date" 
                        class="form-control form-control-sm" 
                        id="required_delivery_date" 
                        name="required_delivery_date"
                        required
                    >
                </div>
                <div class="d-flex gap-3 justify-content-between">
                    <div class="mb-2 w-100">
                        <label for="amount" class="form-label">Количество <span class="text-danger">*</span></label>
                        <input
                            name="amount"
                            id="amount"
                            type="number"
                            class="form-control form-control-sm"
                            min="0"
                            required
                        >
                    </div>
                    <div class="mb-2 w-100">
                        <label for="" class="form-label">Единица измерения <span class="text-danger">*</span></label>
                        <div>
                            <select
                                id="unit"
                                name="unit"
                                class="form-select form-select-sm"
                                required
                                data-dropdown-parent="#requestCreateModal"
                            >
                                <option value=""></option>
                                {% for item in unit_choices %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <!-- File upload formset -->
                    <div id="file-formset-container">
                        <label class="form-label">Загрузить файлы</label>
                        {{ lot_file_formset.management_form }}
                        {% for form in lot_file_formset %}
                            <div class="file-form p-2 mb-2" style="border: 1px dashed rgb(209, 209, 209); border-radius: 8px;">
                                <div class="d-flex gap-3 justify-content-between">
                                    {{ form.file }}
                                    <button type="button" class="btn btn-sm btn-danger rounded-pill px-3 remove-file-form"><i class="ti ti-trash fs-3"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex gap-3 justify-content-end">
                        <button type="button" id="add-file-form" class="btn btn-sm btn-secondary rounded-pill px-3 ms-2"><i class="ti ti-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="submit" class="btn btn-sm rounded-pill btn-primary px-3">Создать</button>
            </div>
            </form>
        </div>
    </div>
</div>
