<div class="modal fade" id="takeAllLotsToWorkConfirmModal" tabindex="-1" aria-labelledby="takeAllLotsToWorkConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="takeAllLotsToWorkConfirmModalLabel">Взять все позиции в работу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-2">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="ti ti-alert-circle text-danger fs-6"></i>
                            <span>Вы уверены что хотите взять все позиции в работу?</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2 my-3">
                        <button type="button" id="takeAllLotsToWorkCancelBtn" class="btn btn-sm rounded-pill btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" id="takeAllLotsToWorkConfirmBtn" class="btn btn-sm rounded-pill btn-primary">Взять в работу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>